*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f0f2f5;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:450px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#2e7d32;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
}

.linha{
    display:flex;
    gap:10px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#2e7d32;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#1b5e20;
}

ul{
    margin-top:20px;
}

li{
    list-style:none;
    background:#ececec;
    padding:10px;
    margin-bottom:10px;
    border-radius:6px;
}

.concluida{
    text-decoration:line-through;
    opacity:.6;
}